
.align-button-export{
	margin:5px;
	margin-left:20px;
}

.detalhes p{
	margin:0px;
	padding:0px;
}

.detalhes{
	padding: 10px;
}

.margin-top-rank{
	margin-top:10px;
}

.padding-chart{
	margin:20px !important;	
}

.texto{
	font-weight: bold;
}

.ui-picklist .ui-picklist-list{
	width: 260px;
}

.width-posicao{
	width:5px;
}

.width-nome{
	width:45px;
}

.cor-escola{
	 background-color:#579575;
	 color: #fff;
}

