.busca-avancada{
		
}



.height-panel-busca{
	height: 93% !important;
	 	
}

.height-content-busca{
	height: 80% !important;
	width:100% !important;
}


.height-panel-indicadores{
	height: 93% !important;
	 	
}

.height-content-indicadores{
	height: 100% !important;
	width:100% !important;
}


.left-align{
	text-align:left !important;
}

.margin-busca-avancada{
	margin-left:30px !important;
	text-decoration: none !important;	
}

.margin-busca-avancada{
	color: #63b5e2 !important;
}

.margin-busca-avancada:hover{
	
	text-decoration: underline !important;
	color: #63b5e2 !important; 
}

.menu-indicadores{
	width:99% !important;
}

.search{
	height: 30px !important;
	width: 80%;
}

.search-avancado{
	height: 30px !important;
	width: 92%;
}

.search-elements{
	padding-left:20px !important;
	padding-right:20px !important;
}

.margin-busca-avancada:hover{
	background-color: #fff !important;
		
}


.width-estado{
	width: 30px;
}

.width-cidade{
	width: 280px;
}

.width-commandLink{
	width:24px;
}